<h1>Ethical Eating</h1>

<ul>
    <li>
        <a href="/">Home</a>
    </li>
    <li>
        <a href="search">Search for a recipe</a>
    </li>
    <li>
        <a href="build">Build a recipe</a>
    </li>
    <li>
        <a href="login">Login</a>
    </li>

</ul>

<hr>
