<h1>Ethical Eating</h1>

<ul>
    <li>
        <a href="/">Home</a>
    </li>

    <li>
        <a href="build">Build a recipe</a>
    </li>
    <li>
        <a href="login">Login</a>
    </li>
    <li>
        <a href="book">Recipe Book</a>
    </li>
</ul>

<form action="/logout" method="POST">
    <button>Log out</button>
</form>

<hr>
