<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Ethical Eating</title>
    <link rel='stylesheet' href='css/tooltip.css'>
    {{!-- can add more CSS if needed --}}
</head>

<body>
    <div>
        {{> header }}
        {{{body}}}
    </div>

</body>

</html>