<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Ethical Eating</title>
    <!-- CSS goes here -->
</head>

<body>
    <div>
        {{> header }}
        {{{body}}}
    </div>

</body>

</html>