<head>
    <link rel="stylesheet" href="css/book.css" />
</head>
<div style="margin-left: 10%; margin-right: 10%;">
    <h1 id="recipeBookHomeTitle">My Recipes Home</h1><br />

    <p>
        click on a recipe to view it!
        <button class="filter">Filter</button>
    </p>

    <table id="recipeBookTable">
        <tr>
            <th style="width:90%">
                Recipe
                <span class="sortIcon" style="float:right;cursor:pointer" onclick="sortTable(0)">&#9660</span>
            </th>
            <!--
            <th style="width:35%">
                Ethical Rating
                <span class="sortIcon" style="float:right;cursor:pointer" onclick="sortTable(1)">&#9660</span>
            </th>
            -->
            <th style="width:30%">
                Public
                <span class="sortIcon" style="float:right;cursor:pointer" onclick="sortTable(2)">&#9660</span>
            </th>
        </tr>
        {{#each recipes}}
        <tr>
            <td class="first" id="recipeClick">
                <a href="/userRecipe/{{this.id}}">{{this.name}}</a>
            </td>
            <td>{{this.isPublic}}</td>
        </tr>
        {{/each}}
    </table>
    <br />
    
    <!-- will link to page where user can create new recipe -->
    <button onclick="window.location.href='build'" class="createNewRecipe">
        Create New Recipe
    </button>
</div>

<script src="js/book.js"></script>