<script src='js/buildRecipe.js'></script>

<h1>Build A Recipe
    {{!-- question mark in box, can be changed to image later if desired --}}
    <div class='tooltip'>&#9072;
        <div class='tooltiptext'>Create your own recipe using ingredients from 
            our database. This is a good way to figure out if your home cooking 
            is ethical or not.</div>
    </div>
</h1>

<p>
    <div id="ingredientFields" class='ingredient1'>

            <div id="ingredientSelect">
                <label>Enter Ingredient</label><br>
                <select name="ingredients" id="ingredients">
                    {{!-- TODO: Get data from DB --}}
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                    <option value="4">Option 4</option>
                </select>
            </div>
 
    {{!-- other ingredients added here via buildRecipe.js --}}
    </div>
</p>
<p>
    <input type="button" id="addIngredient" value="Add Another Ingredient">
</p>

<p>
    <div>Name your recipe
        <div class='tooltip'>&#9072;
            <div class='tooltiptext'>The name your recipe will be saved as in 
                your recipe book.</div>
        </div>
    </div>
    <input type="text" id="recipeName">
</p>

<p>
    <input type="submit" value="Submit">
    <button>Start over</button>
</p>