<link rel='stylesheet' href='css/tooltip.css'>
<script src='js/buildRecipe.js'></script>

<h1>Build A Recipe
    {{!-- question mark in box, can be changed to image later if desired --}}
    <span class='tooltip'>&#9072;
        <span class='tooltiptext'>Create your own recipe using ingredients from our database. This is a good way to figure out if your home cooking is ethical or not.</span>
    </span>
</h1>

