<script src='js/buildRecipe.js'></script>
<div class="card " class="border border-primary" style="width: 50rem;margin:0 auto;">
  <div class="card-body">


<div class="container horizontal-center">
      <div>

<h1>Build A Recipe
    {{!-- question mark in box, can be changed to image later if desired --}}
    <div class='tooltip'>&#9072;
        <div class='tooltiptext'>Create your own recipe using ingredients from 
            our database. This is a good way to figure out if your home cooking 
            is ethical or not.</div>
    </div>
</h1>

<form action="/build" method="POST">
    <p>
        <div id="ingredientFields" class='ingredient1'>

                <div id="ingredientSelect">
                        <label>Enter Ingredient</label><br>
                        <select name="ingredients" id="ingredients">
                            {{#each ingredients}}
                            <option value={{this.id}}>{{this.name}}</option>
                            {{/each}}
                        </select>
                </div>
    
        {{!-- other ingredients added here via buildRecipe.js --}}
        </div>
    </p>
    <p>
        <input type="button" id="addIngredient" value="Add Another Ingredient">
    </p>

    <p>
        <div>Name your recipe
            <div class='tooltip'>&#9072;
                <div class='tooltiptext'>The name your recipe will be saved as in 
                    your recipe book.</div>
            </div>
        </div>
        <input type="text" name="name" id="recipeName">
    </p>

    <p>
        {{#if user_id}}
            <input type="submit" value="Submit">
        {{else}}
            In order to save your own recipes, you have to <a href="/login">Create An Account</a>.<br/>
        {{/if}}
        <input type="button" id="startOver" value="Start Over">
    </p>
</form>
</div>
</div>

  </div>
  </div>