<link rel='stylesheet' href='/css/home.css'>

<h1 id="homepage">Water you doing to save the planet?</h1>

<div id="banner">
    <img id="homepage" src="images/waterBanner.jpg">
</div>

<div id="homepage">
    <p>
        On the Zero Rows Returned team, we think that water is a very important resource
        to our global ecosystem. Controversial opinion, we know. However, many people don't
        realize that the food they choose to eat can have a much larger water footprint
        than expected. Have no fear, though. We've made this easy to use app that can give
        you alternative ingredients that use less water!
    </p>
    <p>
        Using <del>AI and machine learning</del> a simple math equation, our system will
        determinethe ethical score of a recipe by taking the ratio between water-saving
        ingredients and total ingredients in a recipe.
    </p>
    <p>
        <a href="/login">Creating an account</a> is easy! When you sign up, you will gain
        access to a recipe book where you can save your recipes and quickly make water-saving
        adjustments. Or if you prefer to remain a guest, <a href="/search">the search function</a>
        offers a multitude of recipes and ingredients, and can give you alternatives at a moment's
        notice.
    </p>
    <p>
        However you use the site, you can rest assurred that you are doing your part to lower
        our global water consumption.<br>
        <b>Because every drop counts.</b>
    </p>
</div>

<div id="toBottom"></div>