<head>
    <link rel="stylesheet" href="css/book.css" />
</head>
<div style="margin-left: 10%; margin-right: 10%;">
    <p>
        <button onclick="window.location.href='book'" style="height:4em;width:16em;font-size:medium">
            My Recipes Home
        </button>
    </p>

    <h1 id="recipeBookHomeTitle">[Ingredient]</h1><br />

    <div class="ethicsContainer">
        <p>
            lorem ipsum etc etc ethics yada
        </p>
    </div>

</div>

<div style="margin-left: 10%; margin-right: 10%;">
    

</div>

<script src="js/book.js"></script>