<head>
    <link rel="stylesheet" href="/css/book.css" />
</head>
<div style="margin-left: 10%; margin-right: 10%;">
    <h1 id="recipeBookHomeTitle">[Recipe Name]</h1><br />

    <p>
        <span style="right:40%;">This is a public recipe</span>

        <!-- This should add (copy) a public recipe to a user's recipe book -->
        <button id="addToBookButton" style="float:right" onclick="window.location.href='book'">Add to My Recipe Book</button>
    </p><br />

    <table id="userRecipeTable">

        <tr>
            <th>Ingredient</th>
            <th>Details</th>
            <th id="ethicalInfo">Ethical Info</th>
        </tr>
        <tr>
            <td class="ingredient">Ingredient 1</td>
            <td>Details go here</td>
            <td>
                <span>Info</span>
                <span class="tooltipleft" style="float:right" onclick="window.location.href='ingredientEthics'">
                    &#9432
                    <span class="tooltiptext">
                        How can I ethically improve this ingredient?
                    </span>
                </span>
            </td>
        </tr>
        <tr>
            <td class="ingredient">Ingredient 2</td>
            <td>Details go here</td>
            <td>
                <span>Info</span>
                <span class="tooltipleft" style="float:right" onclick="window.location.href='ingredientEthics'">
                    &#9432
                    <span class="tooltiptext">
                        How can I ethically improve this ingredient?
                    </span>
                </span>
            </td>
        </tr>
        <tr>
            <td class="ingredient">Ingredient 3</td>
            <td>Details go here</td>
            <td>
                <span>Info</span>
                <span class="tooltipleft" style="float:right" onclick="window.location.href='ingredientEthics'">
                    &#9432
                    <span class="tooltiptext">
                        How can I ethically improve this ingredient?
                    </span>
                </span>
            </td>
        </tr>
        <tr>
            <td class="ingredient">Ingredient 4</td>
            <td>Details go here</td>
            <td>
                <span>Info</span>
                <span class="tooltipleft" style="float:right" onclick="window.location.href='ingredientEthics'">
                    &#9432
                    <span class="tooltiptext">
                        How can I ethically improve this ingredient?
                    </span>
                </span>
            </td>
        </tr>
    </table> <br />

</div>



<script src="js/book.js"></script>