<head>
    <link rel="stylesheet" href="css/book.css" />
</head>
<div style="margin-left: 10%; margin-right: 10%;">
    <h1 id="recipeBookHomeTitle">[Recipe Name]</h1><br />

    <p>
        <span>
            <button onclick="window.location.href='book'" style="height:4em;width:16em;font-size:medium">
                My Recipes Home
            </button>
        </span>
        <span style="float:right">This recipe is currently in your Recipe Book!</span>

    </p>

    <table id="userRecipeTable">

        <tr>
            <th>Ingredient</th>
            <th>Details</th>
            <th id="ethicalInfo">Ethical Info</th>
        </tr>
        
        {{#each recipe.ingredients}}
        <tr>
            <td class="ingredient">{{this.ingredient.name}}</td>
            <td>{{this.ingredient.description}}</td>
            <td>
                
                <span class="tooltipleft" style="float:right">
                    <a href="/ingredientEthics/{{this.id}}">&#9432</a>
                    <span class="tooltiptext">
                        How can I ethically improve this ingredient?
                    </span>
                </span>
            </td>
        </tr>
        {{/each}}
    </table> <br />


    <!--
    <table id="userRecipeTable">

        <tr>
            <th>Ingredient</th>
            <th>Details</th>
            <th id="ethicalInfo">Ethical Info</th>
        </tr>
        <tr>
            <td class="ingredient">Ingredient 1</td>
            <td>Details go here</td>
            <td>
                <span>Info</span>
                <span class="tooltipleft" style="float:right" onclick="window.location.href='ingredientEthics'">
                    &#9432
                    <span class="tooltiptext">
                        How can I ethically improve this ingredient?
                    </span>
                </span>
            </td>
        </tr>
        <tr>
            <td class="ingredient">Ingredient 2</td>
            <td>Details go here</td>
            <td>
                <span>Info</span>
                <span class="tooltipleft" style="float:right" onclick="window.location.href='ingredientEthics'">
                    &#9432
                    <span class="tooltiptext">
                        How can I ethically improve this ingredient?
                    </span>
                </span>
            </td>
        </tr>
        <tr>
            <td class="ingredient">Ingredient 3</td>
            <td>Details go here</td>
            <td>
                <span>Info</span>
                <span class="tooltipleft" style="float:right" onclick="window.location.href='ingredientEthics'">
                    &#9432
                    <span class="tooltiptext">
                        How can I ethically improve this ingredient?
                    </span>
                </span>
            </td>
        </tr>
        <tr>
            <td class="ingredient">Ingredient 4</td>
            <td>Details go here</td>
            <td>
                <span>Info</span>
                <span class="tooltipleft" style="float:right" onclick="window.location.href='ingredientEthics'">
                    &#9432
                    <span class="tooltiptext">
                        How can I ethically improve this ingredient?
                    </span>
                </span>
            </td>
        </tr>
    </table> <br /> -->

</div>

<div style="margin-left: 10%; margin-right: 10%;">
    <!-- will link to previous and next recipes in user's book-->
    <p>
        <button onclick="window.location.href='userRecipe'" class="prevRecipe">
            Prev Recipe
        </button>
        <button onclick="window.location.href='userRecipe'" class="nextRecipe" style="float:right">
            Next Recipe
        </button>
    </p>

    <!-- Buttons for Create, Edit, and Delete recipe -->
    <p>
        <button onclick="window.location.href='build'" class="createNewRecipe">
            Create New Recipe
        </button>
        <button class="editRecipe" style="margin-left:40%">
            Edit Recipe
        </button>
        <button class="removeRecipe" style="float:right">
            Remove Recipe
        </button>
    </p>

</div>

<script src="js/book.js"></script>