#recipeBookHomeTitle {
    text-align: center;
    font-weight: bold;
}

.filter {
    margin-left: 90%;
}

.undo-message {
    font-size: 1.1rem;
    text-align: center;
    background-color: #f4f4f4;
    border-radius: 5px;
    border: 1px solid black;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 8px;
}

table {
    width: 80vw;
    border: 2px solid;
    border-collapse: collapse;
    Overflow-y: scroll;
    max-height: 15em;
    background-color: white;
    opacity: 0.95;
}

th, td {
    border: 1px solid;
    border-collapse: collapse;
}

tbody {
    width: 100%;
}

th {
    min-width:15em;
    font-size: large;
}

td {
    padding: 0px 8px;
}

input {
    cursor: pointer;
}

input[type='radio'] {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

label {
    display: inline;
}

div.ingredientReplacementSuggestion {
    margin: 16px auto;
}

.sortIcon:hover {
    color:slategrey;
}

a span.tooltiptext {
    text-decoration: underline;
    color: blue;
}

#recipeClick:hover {
    background-color: aliceblue;
    cursor:pointer;
}

tr {
    height: 3em;
}

#addToBookButton {
    height: 3em;
    width: 13em;
    font-size: medium;
}


.ingredientCard {
    margin-left:20%;
    margin-right:20%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    min-height: 35em;
    background-color: white;
    opacity: 0.95;
}

.ingredientCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.updateIsPublic:hover {
    cursor:pointer;
}